body {
  font-family: Arial, sans-serif;
}

#quiz-container, #results-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  display: none;
}

#question {
  font-size: 18px;
}

.answer-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

#submit-button, #reload-quiz {
  display: block;
  margin: 20px auto;
  cursor: pointer;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px;
  min-width: 120px;
}

#quiz-selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 500px;
}

.quiz-card {
  padding: 20px;
  margin: 30px;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ccc;
  cursor: pointer;
}
