/* style.css */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 98%;
  top: 0;
  height: 38px;
  padding: 20px;
  background-color: #cac4c4;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  color: #000000c7;
}

#searchInput {
  width: 200px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  padding: 12px;
  border: none;
}

#searchBtn {
  padding: 10px;
  margin-left: 10px;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px;
  min-width: 120px;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 80px;
}

h2.search-results-heading {
  margin-left: 20px;
}

#recipeResults,
#recipeDetails {
  flex: 1;
}

.list-container {
  margin: 0 auto;
  padding: 0 20px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#recipe-list {
  height: calc(100vh - 190px);
  overflow: scroll;
  padding: 20px;
}

#recipe-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ccc;
}

#recipe-list li .title {
  font-size: 18px;
  font-weight: bold;
}

#recipe-list li .description {
  font-size: 14px;
  color: #666;
}

#recipeDetailsContainer {
  padding: 20px;
  margin-right: 30px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ccc;
}
